<footer class="footer footer-dark">
  <div class="container">
    <div class="columns">
      <div class="column">
        <!-- <div class="footer-logo"> -->
        {{- $out_fo  := "footer.svg" -}}
        {{- $img_n   := .Site.Params.footer.logo -}}
        {{- $type    := lower (substr $img_n (sub (len $img_n) 3) (len $img_n)) -}}
        {{- $img     := resources.Get $img_n -}}
        {{- if eq $type "svg" -}}
        {{- $img    = $img | resources.ExecuteAsTemplate $out_fo . }}
        {{- end -}}
        <img src="{{- $img.Permalink | relURL -}}" width="150px" alt="">
        <!-- </div> -->
      </div>

      <div class="column">
        <div class="footer-column">
          <div class="footer-header">
            <h3>You can find me here!</h3>
          </div>
          <ul class="link-list">
            <li>
              <a href="{{ .Site.Params.footer.linkedin }}" target="_blank">
                <span class="icon"><i class="fa fa-linkedin"></i></span>
                Linkedin
              </a>
            </li>
            <li>
              <a href="{{ .Site.Params.footer.github }}" target="_blank">
                <span class="icon"><i class="fa fa-github"></i></span>
                Github
              </a>
            </li>
            <li>
              <a href="{{ .Site.Params.footer.facebook }}" target="_blank">
                <span class="icon"><i class="fa fa-facebook"></i></span>
                Facebook
              </a>
            </li>
            <li>
              <a href="{{ .Site.Params.footer.twitter }}" target="_blank">
                <span class="icon"><i class="fa fa-twitter"></i></span>
                Twitter
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="column">
        <div class="footer-column">
          <div class="footer-header">
            <h3>Copyright</h3>
          </div>
          <ul class="link-list">
            <li>
              <a>
                <span class="icon"><i class="fa fa-copyright"></i></span>
                {{ .Site.Params.footer.copyright }}
              </a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</footer>