<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    <!--- Basic Page Needs
   ================================================== -->
    <meta charset="utf-8">
    <title>Raj Pathare</title>
    <meta name="description"
        content="I&#39;m a Software Developer, tech geek and a full time learner. It's so nice to see you here">
    <meta name="keywords" content="software,computer,it,software developer,raj pathare,rajpathare,student,internship,job,technology,
   india,jio">
    <meta name="author" content="Raj Pathare">


    <!-- Mobile Specific Metas
   ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="../css/mainn.css">
    <link rel="stylesheet" href="../css/default.css">
    
    <link rel="stylesheet" href="../css/layout.css">
    
    <link rel="stylesheet" href="../css/media-queries.css">
    <link rel="stylesheet" href="../css/magnific-popup.css">

    <!-- Script
   ================================================== -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

    <!-- Favicons
	================================================== -->
    <link rel="shortcut icon" href="/images/favicon.png">
    <style>
        .buttonn {
            display: inline-block;
     font-family: "poppins-bold", sans-serif;
     font-size: 1.4rem;
     text-transform: uppercase;
     letter-spacing: .3rem;
     height: 5.4rem;
     line-height: 5.4rem;
     padding: 0 3rem;
     margin: 0 .3rem 1.2rem 0;
     background: #d8d8d8;
     color: #313131;
     text-decoration: none;
     cursor: pointer;
     text-align: center;
     white-space: nowrap;
     border: none;
     -moz-transition: all 0.3s ease-in-out;
     -o-transition: all 0.3s ease-in-out;
     -webkit-transition: all 0.3s ease-in-out;
     -ms-transition: all 0.3s ease-in-out;
     transition: all 0.3s ease-in-out;
}

.buttonn1 {
  background-color: transparent;
  color: white; 
  border: 2px solid gray;
}

.buttonn1:hover {
  background-color: transparent;
  border: 2px solid #e67300;
  color:white ;
}
/* body {
  font-family: 'Ubuntu', sans-serif;
  width:100%;
}

p{
  color:#525252;
  font-size:12px;
} */

.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:35px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
width:110px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}
.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

.progress-bar {
  height: 8px;
  background: #e67300;
  width: 0%;
}
.fixx {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}

.fixx h2 {
  text-align: center;
}
.scrolltop {
	display:none;
	width:100%;
	margin:0 auto;
	position:fixed;
	bottom:20px;
	right:10px;	
}
.scroll {
	position:absolute;
	right:20px;
	bottom:20px;
	background:#b2b2b2;
	background:rgba(178,178,178,0.7);
	padding:20px;
	text-align: center;
	margin: 0 0 0 0;
	cursor:pointer;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 		
}
.scroll:hover {
	background:rgba(178,178,178,1.0);
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 		
}
.scroll:hover .fa {
	padding-top:-10px;
}
.scroll .fa {
	font-size:30px;
	margin-top:-5px;
	margin-left:1px;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 	
}
        </style>

</head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-148953002-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-148953002-1');
</script>


<body>
    <div class="fixx">
            <div class="progress-container">
                    <div class="progress-bar" id="myBar"></div>
                  </div>  
    </div>
    <div class='thetop'></div>
        

   <!-- intro section
   ================================================== -->
   <section id="intro">   

    

    <div class="intro-content">
        <div class="row">

            <div class="col-twelve">

                
                <h1>I'm Raj Pathare.</h1>

                <p class="intro-position">
                    <span style="color:#e67300">MERN</span>
                    <span style="color:#e67300">DevOps</span>
                    <span style="color:#e67300">Unity3D</span> 
                </p>
                <h5 style="color:white ">I'm a Software Developer, tech geek and a full time learner. It's so nice to see you here!</h5>
                <br>
                
                <a class="buttonn buttonn1" href="https://rajpathare.com/" title="" style="color:white">Home</a>
                <a class="buttonn buttonn1 smoothscroll" href="#about" title="" style="color:white">More About Me</a>
                <a class="buttonn buttonn1 smoothscroll" href="#resume" title="" style="color:white">Resume</a>
                <a class="buttonn buttonn1 smoothscroll" href="#portfolio" title="" style="color:white">Projects</a>
                

            </div>  
            
        </div>   		 		
    </div> <!-- /intro-content --> 

    <ul class="intro-social">        
      <li><a href="https://www.facebook.com/raj.pathare.35"><i class="fa fa-facebook"></i></a></li>
      <li><a href="https://twitter.com/_rajpathare_"><i class="fa fa-twitter"></i></a></li>
      <li><a href="https://github.com/RajPathare"><i class="fa fa-github"></i></a></li>
      <li><a href="https://in.linkedin.com/in/rajpathare"><i class="fa fa-linkedin"></i></a></li>
   </ul> <!-- /intro-social -->      	

</section> <!-- /intro -->


    <!-- About Section
   ================================================== -->
    <section id="about">

        <div class="row">

            <div class="three columns">

                <img class="profile-pic" src="../images/rajpathare.jpeg" alt="" />

            </div>

            <div class="nine columns main-col">

                <h2 style="color: #e67300">About Me</h2>

                <p style="color: white"> Currently, I'm working as an Associate Software Developer at Reliance Jio. I've done my Bachelor of Engineering in Information Technology from D.Y. Patil University. My journey as a developer started since I joined my college. Web Development was the first thing that crossed my mind. I took some online courses and started working on android later on.

                    I love playing video games in my free time. I was always intrigued by how such games are made from scratch, so I started exploring Unity (a game engine).
                    Things I can work on - MERN stack, Kubernetes, Unity3D.
                    <br>
                    Ping me up if you want to know more!
                </p>

                <div class="row">



                    <div class="columns download">
                        <p>
                            <a href="https://drive.google.com/file/d/1lAhTKYPx8Bzvg2NSzs7U4Nbr14eeUfny/view?usp=sharing"
                                class="buttonn buttonn1" style="color: #e67300"><i class="fa fa-download"></i>Download Resume</a>
                        </p>
                    </div>

                </div> <!-- end row -->

            </div> <!-- end .main-col -->

        </div>

    </section> <!-- About Section End-->


    <!-- Resume Section
   ================================================== -->
    <section id="resume">

        <!-- Education
      ----------------------------------------------- -->
        <div class="row education">

            <div class="three columns header-col">
                <h1><span>Education</span></h1>
            </div>

            <div class="nine columns main-col">

                <div class="row item">

                    <div class="twelve columns">

                        <h3 style="color: #e67300">Dr. D.Y.Patil's R.A.I.T, Navi Mumbai</h3>
                        <p class="info" style="color: #331a00">Bachelor of Engineering (B.E) - IT <span>&bull;</span>
                            <em class="date">May
                                2019</em>
                        </p>

                        <p style="color: #331a00">
                            CGPA - 7.98/10.00
                        </p>

                    </div>

                </div> <!-- item end -->

                <div class="row item">

                    <div class="twelve columns">

                        <h3 style="color: #e67300">NKTT College, Thane</h3>
                        <p class="info" style="color: #331a00">Higher Secondary Certificate (HSC)<span>&bull;</span> <em
                                class="date">March
                                2015</em>
                        </p>

                        <p style="color: #331a00">
                            Percentage - 86.00%
                        </p>

                    </div>

                </div> <!-- item end -->

                <div class="row item">

                    <div class="twelve columns">

                        <h3 style="color: #e67300"> Vasant Vihar High School, Thane</h3>
                        <p class="info" style="color: #331a00">Secondary School Certificate (SSC)<span>&bull;</span> <em
                                class="date">March
                                2013</em>
                        </p>

                        <p style="color: #331a00">
                            Percentage - 88.55%
                        </p>

                    </div>

                </div> <!-- item end -->

            </div> <!-- main-col end -->

        </div> <!-- End Education -->


        <!-- Work
      ----------------------------------------------- -->
        <div class="row work">

            <div class="three columns header-col">
                <h1><span>Work</span></h1>
            </div>

            <div class="nine columns main-col">

                <div class="row item">

                    <div class="twelve columns">

                        <h3 style="color: #e67300">Reliance Jio</h3>
                        <p class="info" style="color: #331a00">Assistant Manager - Associate Software Developer<span>&bull;</span> <em
                                class="date">June 2019 -
                                Present</em></p>

                        <p style="color: #331a00">
                            <b>Role: DevOps</b><br/>
                            I've mainly worked on <b>Docker, Kubernetes, Jenkins, Ansible, Nodejs</b>, here at Jio.</br>

                            • Developed and maintained automated CI/CD pipelines for different JioMedia applications using Jenkins.</br>
                            • Developed Ansible playbooks for deploying various features on multiple servers and also for creating Kubernetes clusters from scratch.</br>
                            • Extensively used Kubernetes as an orchestration tool for managing Docker containers.</br>
                            • Worked on building PT(Perf testing) Kubernetes cluster from scratch for deploying JioMedia applications.</br>
                            • Deployed monitoring system (Prometheus-Thanos + Grafana) on all JioMedia Kubernetes clusters (Dev/Prod) and created custom Grafana dashboards for all applications.</br>
                            • Worked on migrating the data analytics stack (Kafka->Flink->Minio->Spark->MySQL) on Kubernetes. Also worked on deploying Kubeflow/MLflow for streamlining the ML pipeline.</br>
                            • Developed JioMonitor - A Nodejs project which uses the Kubernetes API client for actively monitoring all databases present inside the cluster and sends an email to the desired team if some database goes down so that the issue gets resolved on time.</br>
                            • Worked on multiple Nodejs projects for automatically spawning/deleting custom pods inside the cluster, so as to avoid the manual work of deploying pods with the custom config.

                        </p>

                    </div>

                </div> <!-- item end -->

                <div class="row item">

                    <div class="twelve columns">
                        <h3 style="color: #e67300">10Static Inc</h3>
                        <p class="info" style="color: #331a00">Unity3D Game Development Intern<span>&bull;</span> <em
                                class="date">January 2019
                                -
                                April 2019</em></p>

                        <p style="color: #331a00">
                            • Worked on multiple hyper-casual games like - PlusOne, Angry Meteor, Spikey.<br>
                            <b>• Technologies used - Unity3D, Blender.</b>
                        </p>

                    </div>

                </div> <!-- item end -->

                <div class="row item">

                    <div class="twelve columns">

                        <h3 style="color: #e67300">Coding Blocks</h3>
                        <p class="info" style="color: #331a00">Campus Ambassador<span>&bull;</span> <em
                                class="date">September 2018 -
                                March 2019</em></p>

                        <p style="color: #331a00">
                            My main responsibilities were - Hosting Online Coding Competitions on HackerBlocks (a coding
                            platform developed by Coding
                            Blocks) and
                            increasing the CB user-base.
                        </p>


                    </div>

                </div> <!-- item end -->

            </div> <!-- main-col end -->

        </div> <!-- End Work -->


        <!-- Skills
      ----------------------------------------------- -->
      <div class="row skill">
          
        <h4 align="center" style="color: #331a00; text-transform: uppercase">My Skills</h4>
        <br>

      <div id="skills">
        <div class="col-lg-6">
       <div class="skillbar clearfix " data-percent="85%">
           <div class="skillbar-title" style="background: #d35400;"><span>Back-end</span></div>
           <div class="skillbar-bar" style="background: #e67e22;"></div>
           <div class="skill-bar-percent" style="color:black">85%</div>
       </div> <!-- End Skill Bar -->
       
       <div class="skillbar clearfix " data-percent="75%">
           <div class="skillbar-title" style="background: #2980b9;"><span>Front-end</span></div>
           <div class="skillbar-bar" style="background: #3498db;"></div>
           <div class="skill-bar-percent" style="color:black">75%</div>
       </div> <!-- End Skill Bar -->
       
       <div class="skillbar clearfix " data-percent="85%">
           <div class="skillbar-title" style="background: #2c3e50;"><span>Docker</span></div>
           <div class="skillbar-bar" style="background: #2c3e50;"></div>
           <div class="skill-bar-percent" style="color:black">85%</div>
       </div> <!-- End Skill Bar -->
       
       <div class="skillbar clearfix " data-percent="70%">
           <div class="skillbar-title" style="background: #46465e;"><span>Unity3D</span></div>
           <div class="skillbar-bar" style="background: #5a68a5;"></div>
           <div class="skill-bar-percent" style="color:black">70%</div>
       </div> <!-- End Skill Bar -->
         </div> <!-- end of column 1 -->
         
        <div class="col-lg-6">
       <div class="skillbar clearfix " data-percent="90%">
           <div class="skillbar-title" style="background: #333333;"><span>Linux</span></div>
           <div class="skillbar-bar" style="background: #525252;"></div>
           <div class="skill-bar-percent" style="color:black">90%</div>
       </div> <!-- End Skill Bar -->
       
       <div class="skillbar clearfix " data-percent="90%">
           <div class="skillbar-title" style="background: #27ae60;"><span>Kubernetes</span></div>
           <div class="skillbar-bar" style="background: #2ecc71;"></div>
           <div class="skill-bar-percent" style="color:black">90%</div>
       </div> <!-- End Skill Bar -->
       
         </div> <!-- end of column 2 -->
       </div>
    </div>

    </section> <!-- Resume Section End-->

    <!-- Testimonials Section
   ================================================== -->
    <section id="testimonials">

        <div class="text-container">

            <div class="row">
                <h1><span>My Achievements</span></h1>

                <div class="two columns header-col">


                </div>

                <div class="ten columns flex-container">

                    <div class="flexslider">

                        <ul class="slides">

                            <li>
                                <blockquote>
                                    <p>
                                        Govt. granted Scholarship (B.E)

                                    </p>

                                </blockquote>
                            </li> <!-- slide ends -->

                            <li>
                                <blockquote>
                                    <p>
                                        Govt. granted Scholarship (BSc)
                                        Government funding of (₹80K/year), for pursuing BSc studies
                                    </p>
                                </blockquote>
                            </li> <!-- slide ends -->
                            <li>
                                <blockquote>
                                    <p>
                                        Udacity - Intel® Edge AI Scholarship (2019)
                                    </p>
                                </blockquote>
                            </li> <!-- slide ends -->
                            <li>
                                <blockquote>
                                    <p>
                                        EngiNX The IoT Challenge (2017) - TCS
                                        Selected in top 150 teams out of 7500 teams who participated in the IoT
                                        challenge
                                    </p>
                                </blockquote>
                            </li> <!-- slide ends -->
                            <li>
                                <blockquote>
                                    <p>
                                        EngiNX The Digital Twin Challenge (2018) - TCS
                                        Selected in top 100 teams out of 7500 teams who participated in the Digital Twin
                                        Challenge
                                    </p>
                                </blockquote>
                            </li> <!-- slide ends -->

                        </ul>

                    </div> <!-- div.flexslider ends -->

                </div> <!-- div.flex-container ends -->

            </div> <!-- row ends -->

        </div> <!-- text-container ends -->

    </section> <!-- Testimonials Section End-->


    <!-- Portfolio Section
   ================================================== -->
    <section id="portfolio">
        <!-- Work
      ----------------------------------------------- -->
        <div class="row work">

            <div class="three columns header-col">
                <h1 style="color: #331a00"><span>My Projects</span></h1>
            </div>

            <div class="nine columns main-col">

                    <div class="row item">

                            <div class="twelve columns">
        
                                <h3><a href="https://covid19-info-tracker.netlify.com/" style="color: #e67300">COVID-19 Info Tracker</a></h3>
                                <p class="info" style="color: #331a00">COVID-19 Info and Tracking<span>&bull;</span> <em
                                        class="date">March 2020</em></p>
        
                                <p style="color: #331a00">
                                        About the project:
                                        This site let's you track the new coronavirus (COVID-19).
                                        Since the data is public, it can be fetched easily. The JSON data gets updated every 30mins.
                                        
                                        Technologies used - Reactjs, netlify(Hosting)
                                </p>
        
                            </div>
        
                        </div> <!-- item end -->

                    <div class="row item">

                            <div class="twelve columns">
        
                                <h3><a href="https://lyrics-finder-app-react.netlify.com" style="color: #e67300">Lyrics-finder</a></h3>
                                <p class="info" style="color: #331a00">Lyrics finder app <span>&bull;</span> <em
                                        class="date">October 2019</em></p>
        
                                <p style="color: #331a00">
                                        About the project:
                                        The website can be used to find lyrics for any song.
                                        Type in a song title and the list of all matching songs will be listed.
                                        This was my first Reactjs project. I wanted to learn reactjs and was curious about the working of context-api.
                                        
                                        Technologies used:
                                        Reactjs, context-api, Bootstrap
                                </p>
        
                            </div>
        
                        </div> <!-- item end -->

                <div class="row item">

                    <div class="twelve columns">

                        <h3><a href="https://rajpathare-socketio-chatapp.herokuapp.com"
                                style="color: #e67300">ChitChat</a></h3>
                        <p class="info" style="color: #331a00">Socket.io based chat application <span>&bull;</span> <em
                                class="date">August
                                2019</em>
                        </p>

                        <p style="color: #331a00">
                                About the project:
                                Type in your username and the desired room that you wish to enter.
                                If the room doesn’t exist, it will be created when you type in a new room.
                                You can see the users present in the room and chat with them / send them your location.
                                
                                Technologies used:
                                Node.js, Express.js, socket.io
                        </p>

                    </div>

                </div> <!-- item end -->

                <div class="row item">

                    <div class="twelve columns">

                        <h3><a href="https://raj-nodejsweather-app.herokuapp.com"
                                style="color: #e67300">Weatherlive!</a></h3>
                        <p class="info" style="color: #331a00">Weather forecast website <span>&bull;</span> <em
                                class="date">August 2019</em>
                        </p>

                        <p style="color: #331a00">
                            Weatherlive let's you get the current temperature in the specified area as well as the
                            temperature
                            throughout the week. It uses mapbox API for fetching the latitude and longitude of the area
                            and
                            this data is then passed to the darksky API for fetching the temperature.
                        </p>

                    </div>

                </div> <!-- item end -->

                <div class="row item">

                    <div class="twelve columns">

                        <h3><a href="https://play.google.com/store/apps/details?id=com.KTKGameStudios.AngryMeteor"
                                style="color: #e67300">Angry
                                Meteor</a></h3>
                        <p class="info" style="color: #331a00">Android Game <span>&bull;</span> <em class="date">January
                                2019</em></p>

                        <p style="color: #331a00">
                                About the project:
                                A hyper-casual game where you need to save your planet from a meteor shower - Hosted on Google Play store.
                                
                                Graphics/Textures:
                                The game graphics are specially designed for mobile users. The textures are chosen in such a way that the users may not experience any lag while playing the game.
                                
                                Future work:
                                To add more features in the game like - powerups, adding more custom levels. Also, it can be hosted online so that a lot of players can access it easily.
                        </p>


                    </div>

                </div> <!-- item end -->

                <div class="row item">

                    <div class="twelve columns">

                        <h3><a href="https://github.com/RajPathare/ARNotes" style="color: #e67300">ARNotes</a></h3>
                        <p class="info" style="color: #331a00">Augmented Reality android app <span>&bull;</span> <em
                                class="date">June
                                2019</em></p>

                        <p style="color: #331a00">
                                About the project:
                                An AR-based Piano(Keyboard) app which responds to your real-time key press.
                                
                                Download and install the application,the dropbox link for the same is provided above.
                                After installing the application,open it and focus your camera on the print-out (the piano).
                                Press the keys and enjoy playing your favourite instrument with some added twist.
                                
                                Technologies used:
                                Unity3D, Vuforia SDK
                        </p>

                    </div>

                </div> <!-- item end -->

                

                <div class="row item">

                    <div class="twelve columns">

                        <h3><a href="https://rajpathare.github.io" style="color: #e67300">Games Bond</a></h3>
                        <p class="info" style="color: #331a00">Gaming website<span>&bull;</span> <em
                                class="date">September 2016</em></p>

                        <p style="color: #331a00">
                            A simple website , where you can access a bunch of flash games.
                            About the project:
                            You can play different flash games here.
                            This was my first web project. I wanted to learn HTML/CSS.

                            Technologies used:
                            HTML5, CSS
                        </p>

                    </div>

                </div> <!-- item end -->

            </div> <!-- main-col end -->

        </div> <!-- End Work -->

    </section> <!-- Portfolio Section End-->
    
    <!-- footer
   ================================================== -->
    <footer id="foot">
        <h3 style="color: #e67300">You can contact me here!</h3>

        <div class="row">

            <div class="twelve columns">

                <ul class="social-links">
                    <li><a href="https://www.facebook.com/raj.pathare.35" style="color: white"><i
                                class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/_rajpathare_" style="color: white"><i
                                class="fa fa-twitter"></i></a></li>
                    <li><a href="https://github.com/RajPathare" style="color: white"><i class="fa fa-github"></i></a>
                    </li>
                    <li><a href="https://in.linkedin.com/in/rajpathare" style="color: white"><i
                                class="fa fa-linkedin"></i></a></li>
                </ul>

                <ul class="copyright">
                    <li style="color: #e67300">&copy; Copyright 2019 Raj Pathare</li>
                </ul>

            </div>

            <!-- <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a>
            </div> -->
            <div class='scrolltop'>
                    <div class='scroll icon'><i class="fa fa-4x fa-angle-up"></i></div>
                </div>

        </div>

    </footer> <!-- Footer End-->

    <!-- Java Script
   ================================================== -->
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <script>window.jQuery || document.write('<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"><\/script>')</script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/1.2.1/jquery-migrate.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.7.2/jquery.flexslider.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FitText.js/1.2.0/jquery.fittext.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script src="../js/init.js"></script>
    <script>
          var offsetTop = $('#skills').offset().top;
	$(window).scroll(function() {
  var height = $(window).height();
  if($(window).scrollTop()+height > offsetTop) {
    jQuery('.skillbar').each(function(){
      jQuery(this).find('.skillbar-bar').animate({
        width:jQuery(this).attr('data-percent')
      },2000);
    });
  }
  });

// jQuery(document).ready(function(){
// 	jQuery('.skillbar').each(function(){
// 		jQuery(this).find('.skillbar-bar').animate({
// 			width:jQuery(this).attr('data-percent')
// 		},6000);
// 	});
// });

window.onscroll = function() {myFunction()};

function myFunction() {
  var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
  var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
  var scrolled = (winScroll / height) * 100;
  document.getElementById("myBar").style.width = scrolled + "%";
}

$(window).scroll(function() {
    if ($(this).scrollTop() > 50 ) {
        $('.scrolltop:hidden').stop(true, true).fadeIn();
    } else {
        $('.scrolltop').stop(true, true).fadeOut();
    }
});
$(function(){$(".scroll").click(function(){$("html,body").animate({scrollTop:$(".thetop").offset().top},"1000");return false})})
    </script>

</body>

</html>